name: CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.x'

      - name: Go mod tidy (check)
        run: go mod tidy && git diff --exit-code || (echo "Please run 'go mod tidy'" && exit 1)

      - name: Run tests
        run: go test ./...

      - name: Go vet
        run: go vet ./...
